.categories-menu-title {
  margin-left: 10px;
}
.categories-menu-list {
  list-style: none;
  padding-left: 10px;
}
.categories-menu-list-item {
  display: block;
  padding: 10px 20px 5px 0;
  border-top: 1px #ccc solid;
}
