<!DOCTYPE html>
<html>
  <head>
      <title>Angular 2 QuickStart</title>
      <script src="scripts/systemjs/dist/system.src.js"></script>
      <script src="scripts/angular2/bundles/angular2.dev.js"></script>
      <script src="scripts/jquery/dist/jquery.min.js"></script>
      <script src="scripts/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="scripts/lodash/index.js"></script>
      <link rel="stylesheet" href="scripts/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="styles/style.css" />

      <!-- 1. Load libraries -->
      <!-- IE required polyfills, in this exact order -->
      <script src="scripts/es6-shim/es6-shim.min.js"></script>
      <script src="scripts/systemjs/dist/system-polyfills.js"></script>

      <script src="scripts/angular2/bundles/angular2-polyfills.js"></script>
      <script src="scripts/systemjs/dist/system.src.js"></script>
      <script src="scripts/rxjs/bundles/Rx.js"></script>
      <script src="scripts/angular2/bundles/angular2.dev.js"></script>

      <script>
        System.config({
          packages: {'js': {defaultExtension: 'js'}}
        });
        System.import('/js/app');
      </script>
    </head>
    <body>
        <main-component></main-component>
    </body>
</html>
