<!DOCTYPE html>
<html>
  <head>
      <title>Angular 2 QuickStart</title>
      <link rel='stylesheet' href='/styles/style.css' />
      <script src="https://code.angularjs.org/tools/system.js"></script>
      <script src="https://code.angularjs.org/tools/typescript.js"></script>
      <script src="https://code.angularjs.org/2.0.0-alpha.44/angular2.dev.js"></script>
      <script>
        System.config({
          transpiler: 'typescript',
          typescriptOptions: { emitDecoratorMetadata: true }
        });
        System.import('/js/app.ts');
      </script>
    </head>
    <body>
      <my-app>loading...</my-app>
    </body>
</html>
