<!DOCTYPE html>
<html>
  <head>
      <title>Angular 2 QuickStart</title>
      <script src="scripts/systemjs/dist/system.src.js"></script>
      <script src="scripts/angular2/bundles/angular2.dev.js"></script>
       <!-- <link rel="stylesheet" href="styles/style.css" /> -->
      <script>
        System.config({
          packages: {'js': {defaultExtension: 'js'}}
        });
        System.import('/js/app');
      </script>
    </head>
    <body>
      <products-list>loading...</products-list>
    </body>
</html>
