main {
  display: flex;
  overflow-x: hidden;
}
.categories-menu {
  flex: 1 0 200px;
  height: 100%;
  border-right: 1px #999 solid;
  box-shadow: 0 2px 2px #999;
}
.products-list-wrapper {
  flex: 1 0 100%;
}
.wish-list .product-title {
  font-size: 1.4rem;
}
.wish-list .product-img {
  width: 100px;
  height: 70px;
}
.wish-list .product-price {
  display: none;
}
.wish-list .product-button {
  font-size: 1.2 rem;
}
.products-list .product-wrapper.is-added {
  background-color: #f1f1f1;
}
.products-list .product-wrapper.is-added .product-title,
.products-list .product-wrapper.is-added .product-img,
.products-list .product-wrapper.is-added .product-price {
  opacity: 0.5;
}
